#visualsWrapper {
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #091727;
}

  #optionsHolder img {
    -webkit-filter: brightness(100%);
  }
  
  #optionsHolder img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }  

#visualSelection {
    width: 75%;
    height: 75%;
    background-color: #FFFF;
    top: 14%;
    left: 13%;
    position: absolute;
}

#optionsHolder{
    position: absolute;
    margin-right: 8%;
}