#mapDisplay{
    width: 100vw;
    height: 100vh;
}

.leaflet-container{
    height: 100vh;
    z-index: 1;
}

#buildingDropdown{
    position: absolute;
    z-index: 100;
    width: 12%;
    left: 4%;
    top: 1%;
    background-color: transparent;
}